


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


<form action="feedback.php" method="POST">
    <h1> Patients FeedBack</h1>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="email">Email</label>
    <input type="text"  name="email" placeholder="Email..">


    <label for="subject">Feedback</label>
    <textarea id="subject" name="feedback" placeholder="Give Your Honest Feedback plz..." style="height:200px"></textarea>

    <input type="submit" name="submit">
  </form>

